@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  background-image: url(https://wallpaperaccess.com/full/1075673.jpg);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  padding 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

ul {
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

li {
  float: right;
  padding-right: 50px;
}

li a {
  display: block;
  color: #4D5873;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

.navBar {
  font-size: 24px;
  background-color: #C7A14A;
  position: fixed;
  width: 100%;
  display: block;
}

.logoBox {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: auto;

}

.mainContainer{
  padding-top: 130px;
}

.researchPic {
  width: 50%;
  border: 10px solid #4D5873;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  color: white;
  background-color: rgba(199, 161, 74, 0.5);
  text-align: center;
  font-size: 38px;
}

.causeEffect {
  width: 100%;

}

h1, h2 {

  display: inline-block;
  color: white;
  font-size: 32px;
  text-align: center;
  width: 50%;
}

.splitContainer{
  display: flex;
  border: 10px solid #4D5873;
  width: 100%;
}

.splitTextContainer{
  display: flex;
  width: 100%;
}
.thumbnail {
  display: flex;
  width: 50%;
}

.label {
  width: 100%;
}

p {
  display: block;
  color: white;
}
