@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  background-image: url(https://images2.alphacoders.com/238/238870.jpg);
  background-position: center;
  background-attachment: fixed;
  padding 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

ul {
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

li {
  float: right;
  padding-right: 50px;
}

li a {
  display: flex;
  align-items: flex-end;
  color: #4D5873;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

.navBar{
  font-size: 24px;
  background-color: #C7A14A;
  position: fixed;
  width: 100%;
  display: block;
}


.logoBox {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: auto;

}

.mainContainer{
  padding-top: 20px;
}

.caption{
  display: flex;
  align-items: center;
  text-align: center;
  width: 50%;
  background-color: rgba(199, 161, 74, 0.5);
  height: auto;
  margin: auto;
  color: white;
}

p {

}
h1{
  color: #C7A14A;
  font-size: 50px;
  text-align: center;
  padding: 60px;
  padding-bottom: 20px;

}

h2{
  background-color: rgba(199, 161, 74);
  font-size: 50px;
  text-align: center;
  color: white;


}

.c02Graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 10px solid #4D5873;
}

.c02Graph:hover{
  transform: scale(1.2);

}

.sixContainer{

  background-color: rgba(77, 88, 115, 0.8);
  width: 100%;
  display: flex;
}

.thumbnail {
  display: flex;
  height: auto;
  position: relative;
}

.desc {
  text-align:center;
  display: inline-block;
  color: white;
  width: 15%;
}
